/* Enter your custom styles here *//* Enter your custom styles here */
.prueba{
    font-weight: bold;
}
.csMasterPage{
    background-color: #eff4f9;
}
.csFontSize{
    font-size: 65px;
}
.csDate{
    background-color: #E7E7E7;
}
.sizeIconDate {
	font-size : 2rem;
}
.Login{
    background-image:url("../resources/perfil_corporativo.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
}
.contenedor_principal{
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    border-radius: 15px;
    left:0px;
    top:0px;
}

/* .Login{
    background-image:url("https://www.divemotor.com/cdn/servicio-star.jpg");
    width: auto;
    height: 100px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
} */
.entregaClase{
		margin-top:10.7px;
	}
  .html2canvas-container { width: 3000px !important; height: 9000px !important; }

  #infobar{
    border: 1px solid black;
    border-collapse: collapse;
  }
  .VBoxPrincipal{
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .first {
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
}
.list-label{
    font-size: 12px !important;
}
.tableMaterial {
	border: 1px solid black;
	border-collapse: collapse;
}
.colum {
	border-right: 1px solid black;
	border-collapse: collapse;
}